*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.main{
    display:flex;
    width:100%;
    min-height: 100vh;
   
    padding:10px;
   
}

    body {
        width: 100%;
        height:100%;
      }
      
      body {
          background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
      }
      
      @keyframes gradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }



.todo{
    width:100%;
    max-width:500px;
    background-color:white;
    margin-left:-1150px;
    padding:40px 30px 70px;
    border-radius: 10px;;

}
.todo h2{
    color:#eb1943 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width:30px;
    margin-left: 10px;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    padding-left:20px;
    border-radius: 10px;
    margin-bottom:25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding :10px;
    font-weight: 14px;
}
#cli
{
    border: none;
    outline:none;
    padding:16px 50px;
    background:linear-gradient( #ef629f,#ffc371);
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: null;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height:15px;
    width:15px;
    border-radius: 5px;
    background-image: url(uncheck.png);
    background-size:cover;
    background-position: center;
    top:10px;
     left:10px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images.jpg);
    height:25px;
    width:25px;
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color:  #555;
    border-radius: 50%;
}
ul li span:hover{
    background :#edeef0;
}
#cont{
    display: flex;
    width:400px;
    height:400px;
    background-color:rgb(140, 198, 225);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 800px;
    flex-direction: column;
    border-radius: 20px;
  }
  #inner{
    background-color:#FFFFD2;
    width:350px;
    border-radius: 10px;
    padding:10px;
    position: absolute;
    top:200px;
    
  }
  #btn{
    position: absolute;
    top:400px;
    left:850px;
    border-radius: 5px;
    padding:5px;
    background-color:rgb(218, 161, 209);
    border:none;
  }
p{
  color:black;
}
/*#author{
    
    
    font-size: 15px;
    font-style: italic;
    font-family: cursive;
}*/